
@{
    ViewData["Title"] = "Index";
}




<h1 class="jumbotron-fluid text-center text-capitalize">Here in our fashion world we are committed in:</h1>
<br>
<p class="card-header text-center text-primary bg-light h2"> Unisex Fashion Design</p>
<div class="container">
    <div class="row bg-light">
        <div class="col">
            <img src="~/Image/menoutfit2.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/womenoutfit1.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/womendress3.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/womendress2.jpeg" class="card-img">
        </div>
    </div>
</div>
<br>
<p class="card-header text-center text-primary bg-light h2"> Ready-Made Dress</p>
<div class="container">
    <div class="row bg-light">
        <div class="col">
            <img src="~/Image/femalereadymade1.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/femalereadymade2.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/menreadymade1.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/femalereadymade3.jpeg" class="card-img">
        </div>
    </div>
</div>
<br>
<p class="card-header text-center text-primary bg-light h2"> Fabrics, Ankara, Cashmeres, etc</p>
<div class="container">
    <div class="row bg-light">
        <div class="col">
            <img src="~/Image/ankara4.jpg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/cashmere3.jpg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/ankara5.jpg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/cashmere2.jpg" class="card-img">
        </div>
    </div>
</div>
<br>
<p class="card-header text-center text-primary bg-light h2"> Tailoring Materials</p>
<div class="container">
    <div class="row bg-light">
        <div class="col">
            <img src="~/Image/TailoringMat2.jpg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/TailoringMat5.jpg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/TailoringMat6.jpg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/TailoringMat7.jpg" class="card-img">
        </div>
    </div>
</div>
<br>
<p class="card-header text-center text-primary"> Training Personels</p>
<br>

@*Contact Us*@
<div class="row bg-primary w-50 text-center">
    <div class="col w-100 bg-ifo">
        <div class="card w-100 ">
            <div class="card-body w-100">
                <h2 class=" card-header text-primary text-center">Contact Us</h2>
                <i class=" a a-landmark text-primary"></i><img src="~/Image/MapPin.png" height="20" width="20"><p class="card-text w-100"><span class="font-weight-bold">1<sup>st</sup> Address:</span> Plot 880f, L close, 2nd avenue opposite prognosty supermarket, FHA, Abuja.</p>
                <p class="card-text w-100"><span class="font-weight-bold">2<sup>nd</sup> Address:</span> 39, 4<sup>th</sup> avenue by phase 1, corner shop near Mr Biggs, Federal Housing Estate Lugbe, Abuja.</p>
                <i class=" fa fa-phone text-primary"></i> <img src="~/Image/whatapp.png" height="20" width="20"><p class="card-text w-100">08153199535</p>
                <i class=" a a-mail-bulk text-primary"></i><img src="~/Image/EmailImage.png" height="20" width="20"><p class="card-text w-100">doubleconcept@gmail.com</p>
            </div>
        </div>
    </div>
</div>

