
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LandingPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body class="g-primary bg">
    
    <h1 class="jumbotron-flui text-center" style=" position: absolute; z-index:2">Landing Page</h1>

    <img src="~/Image/fruit5.jpeg" lass="container-flui" style=" position:absolute;left:0; top:0; width:100%; height:100%; object-fit:cover; 
  opacity:0.8;
"/>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
