
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-capitalize text-center text-primary text-capitalize">we are expert in fruit artistry</h1>
<br>
<h2 class="text-center bg-success text-white text-capitalize shadow-lg">our services are:</h2>
<ul class="list-group-item-light bg-light">

    <li class="list-group-item list-group-item-success text-center h2 Ani"><span class="pn">Fruit tree</span></li>
    <li class="list-group-item list-group-item-primary text-center h2 Ani">Platter</li>
    <li class="list-group-item list-group-item-secondary text-center h2 Ani">Pineapple boats</li>
    <li class="list-group-item list-group-item-danger text-center h2 Ani">Fruits in cups</li>
    <li class="list-group-item list-group-item-info text-center h2 Ani">Fruits in waffles</li>
    <li class="list-group-item list-group-item-warning text-center h2 Ani">Watermelon pizza</li>
    <li class="list-group-item list-group-item-light text-center h2 Ani">Fruits basket</li>
    <li class="list-group-item list-group-item-success text-center h2 Ani">Fruits parfaits, and lots more.</li>
</ul>
<br>
<br>
<h1 class="display-4 text-white bg-info shadow-lg text-center"> The Fruit Gallery</h1>
<div class="container">
    <div class="row bg-light">
        <div class="col">
            <img src="~/Image/fruit10.jpeg" class="card-img">
        </div>
        <div class="col">
            <img src="~/Image/fruit9.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/fruit8.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/fruit7.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/fruit6.jpeg" class="card-img">
        </div>
    </div>
</div>

<div class="container">
    <div class="row bg-light">
        <div class="col">
            <img src="~/Image/fruit5.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/fruit4.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/fruit3.jpeg" class="card-img">
        </div>

        <div class="col">
            <img src="~/Image/fruit2.jpeg" class="card-img">
        </div>
        <div class="col">
            <img src="~/Image/fruit1.jpeg" class="card-img">
        </div>
    </div>
</div>
<br>
<br>
@*Contact Us*@
<div class="row w-100 text-center ">
    <div class="col w-50 bg-ifo d-flex justify-content-center">
        <div class="card w-50 ">
            <div class="card-body w-100">
                <h2 class=" card-header text-primary text-center">Contact Us</h2>
                <i class=" a a-landmark text-primary"></i><img src="~/Image/MapPin.png" height="20" width="20"><p class="card-text w-100"><span class="font-weight-bold">1<sup>st</sup> Address:</span> Plot 880f, L close, 2nd avenue opposite prognosty supermarket, FHA, Abuja.</p>
                <p class="card-text w-100"><span class="font-weight-bold">2<sup>nd</sup> Address:</span> 39, 4<sup>th</sup> avenue by phase 1, corner shop near Mr Biggs, Federal Housing Estate Lugbe, Abuja.</p>
                <i class=" fa fa-phone text-primary"></i> <img src="~/Image/whatapp.png" height="20" width="20"><p class="card-text w-100">08153199535</p>
                <i class=" a a-mail-bulk text-primary"></i><img src="~/Image/EmailImage.png" height="20" width="20"><p class="card-text w-100">doubleconcept@gmail.com</p>
            </div>
        </div>
    </div>
</div>

